/*
app variables
*/

:root {
  /* font */
  --main-font: 'Orbitron', sans-serif;
}

/*
app CSS reset
*/

body, div, p {
  margin: 0;
  padding: 0;
}


.app-container {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: center;
}